@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/INTER_18PT-MEDIUM.TTF') format('truetype');
}


@font-face {
  font-family: 'PPMondwest';
  src: url('./assets/fonts/PPMONDWEST-REGULAR.OTF') format('opentype');
}

@font-face {
  font-family: 'Roxborough';
  src: url('./assets/fonts/roxborough-cf-regular-italic.otf') format('opentype');
}

@font-face {
  font-family: 'Roobert-Regular';
  src: url('./assets/fonts/Roobert-Regular.otf') format('opentype');

}

@font-face {
  font-family: 'Roobert-Medium';
  src: url('./assets/fonts/Roobert-Medium.otf') format('opentype');

}
html, body {
  font-family: 'Roobert-Medium', sans-serif;
  color: rgb(28, 28, 28);
  background-color: rgb(235, 235, 235);
}

.efrei {
  position: relative;
}

.efrei:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgba(28, 28, 28, 0.8);
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
}

.efrei:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
